@import "tailwindcss";

@theme inline {
  --color-dark-gray: #424242;
  --color-accent-green: #1a9e16ff;
  --color-light-gray: #a3a3a3;
}

* {
  box-shadow: none !important;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
}

body {
  background-color: #ffffff;
  color: #424242;
  font-family: Arial, Helvetica, sans-serif;
}
